In [20]:
# Import the needed libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [21]:
# Load the dataset as a DataFrame
df = pd.read_csv(r"C:\Users\USER\Downloads\energydata_complete.csv")
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [23]:
X = df["T2"]
y = df["T6"]

# Reshaping the X array
X = np.array(X).reshape(-1, 1)

# Create an instance of the LinearRegression model
model = LinearRegression()

# Fit the linear regression model
model.fit(X, y)

# Predict the target variable using the fitted model
y_pred = model.predict(X)

# Calculate the R^2 score
r2 = r2_score(y, y_pred)

# Print the R^2 score rounded to 2 decimal places
print(f"R-squared: {r2:.2f}")

R-squared: 0.64

In [25]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error


# Remove columns "date" and "lights" from the dataset
columns_to_drop = []
df = df.drop(columns_to_drop, axis=1)

# Separate the features (X) and the target variable (y)
X = df.drop("Appliances", axis=1)
y = df["Appliances"]

# Normalize the features using MinMaxScaler
scaler = MinMaxScaler()
X_normalized = scaler.fit_transform(X)

# Perform a train-test split with a random state of 42
X_train, X_test, y_train, y_test = train_test_split(X_normalized, y, test_size=0.3, random_state=42)

# Fit the multiple linear regression model on the training set
model = LinearRegression()
model.fit(X_train, y_train)

# Predict the target variable for the test set
y_pred = model.predict(X_test)

# Calculate the Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)

# Print the MAE rounded to 2 decimal places
print(f"Mean Absolute Error: {mae:.2f}")

Mean Absolute Error: 53.64

In [29]:
# Calculate the Residual Sum of Squares (RSS)
rss = ((y_test - y_pred) ** 2).sum()

# Print the RSS rounded to 2 decimal places
print(f"Residual Sum of Squares: {rss:.2f}")

Residual Sum of Squares: 51918501.21

In [30]:
from sklearn.metrics import mean_squared_error

# Calculate the Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)

# Calculate the Root Mean Squared Error (RMSE)
rmse = np.sqrt(mse)

# Print the RMSE rounded to 3 decimal places
print(f"Root Mean Squared Error: {rmse:.3f}")

Root Mean Squared Error: 93.640

In [31]:
from sklearn.metrics import r2_score

# Calculate the coefficient of determination (R-squared)
r2 = r2_score(y_test, y_pred)

# Print the R-squared rounded to 2 decimal places
print(f"Coefficient of Determination (R-squared): {r2:.2f}")

Coefficient of Determination (R-squared): 0.15

In [32]:
from sklearn.linear_model import Lasso

# Train a Lasso regression model with alpha=0.001
lasso_model = Lasso(alpha=0.001)
lasso_model.fit(X_train, y_train)

# Obtain the feature weights from the Lasso model
feature_weights = lasso_model.coef_

# Count the number of features with non-zero feature weights
non_zero_features = sum(feature_weights != 0)

# Print the number of features with non-zero feature weights
print(f"Number of features with non-zero weights: {non_zero_features}")

Number of features with non-zero weights: 25